* {
  box-sizing: border-box;
}

body {
  background-color: rgb(73, 95, 115);
  background-image: url("./background-adare-restaurant.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
}

header {
  text-align: center;
  height: 25vh;
  width: auto;
}

main {
  color: #ffffff;
  text-align: center;
  padding: 5vh 25vw 20vh 25vw;
  h1 {
    font-size: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  p {
    font-size: 1.2vw;
  }
  a {
    color: #ffffff;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
}

nav {
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  height: 5vh;
  width: fit-content;

  .nav-list {
    list-style-type: none;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    height: 5vh;
    .nav-item {
      margin-inline: 0.5rem;
      font-size: 1.5vw;
      .nav-link {
        color: #ffffff;
        text-decoration: none;
      }
      :hover {
        text-decoration: underline;
      }
    }
  }
}

.map {
  padding-bottom: 5vh;
  width: 50vw;
  height: 40vh;
}

footer {
  height: 10vh;
  background-color: rgba(0, 0, 0, 0.3);
  color: #ffffff;
  font-size: 1.8vh;
  text-align: center;
}
